html{
    margin: 0;
}
span{
    display:block;
}
.canvas{
    margin:100px auto;
    width:80%;
    text-align: center;
}
.button{
    width:100px;
    height:50px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
}
#red{ background-color:red; }
#green{ background-color:green; }
#blue{ background-color:blue; }
#yellow{ background-color:yellow; }
