* {
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
    
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #081b31;

}

.score-board{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     margin: 3rem;
     gap: 5rem;
}

#user-score, 
#comp-score {
    font-size: 8rem;
}
.message-container{
    margin-top: 2rem;
}

#msg{
    background-color: #081b31;
    color: aliceblue;
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
}