*{
    margin:0;
    padding:0;
}
body {
    background-color: #548687;
    text-align: center;
}
.container {
    height:70vh;
}
.game {
    height:60vmin;
    width: 60vmin;
    margin: auto;
    gap:1.5vmin;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.box{
    height:18vmin;
    width:18vmin;
    margin: auto;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem , rgba(0, 0, 0, 0.8);
    font: 8vmin 'Arial', sans-serif;
    background-color: #ffffff;
    
}
#resetButton{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem , rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    cursor: pointer;
}
#newGame{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem , rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    cursor: pointer;
}
#message{
    font-size: 2rem;
    margin-top: 1rem;
    color: #ffffff;
}
.msg{
    height:100vmin;
    display:flex;
    /* flex-wrap:wrap;
     */
     justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
    
}
.hide{
    display: none;
}